
RawData/GSE147507-GPL18573_series_matrix.txt
RawData/GSE147507_RawReadCounts_Human.tsv
IntermediateFiles/tf_activities_NHBEvsCOV2_stat.rds
IntermediateFiles/tf_activities_NHBEvsCOV2_counts.rds
IntermediateFiles/tf_activities_A549vsCOV2_stat.rds
IntermediateFiles/tf_activities_A549vsCOV2_counts.rds
IntermediateFiles/pathways_NHBEvsCOV2_zscore_inputCarnival.rds
IntermediateFiles/pathways_NHBEvsCOV2_zscore.rds
IntermediateFiles/pathways_NHBEvsCOV2_counts.rds
IntermediateFiles/pathways_A549vsCOV2_zscore_inputCarnival.rds
IntermediateFiles/pathways_A549vsCOV2_zscore_inputCarnival
IntermediateFiles/pathways_A549vsCOV2_zscore.rds
IntermediateFiles/pathways_A549vsCOV2_counts.rds
IntermediateFiles/dds_results_NHBEvsCOV2.rds
IntermediateFiles/dds_results_A549vsCOV2.rds
IntermediateFiles/counts_norm_NHBEvsCOV2.rds
IntermediateFiles/counts_norm_A549vsCOV2.rds
RawData/GO_CELL_CYCLE_ARREST.gmt
RawData/HALLMARK_G2M_CHECKPOINT.gmt
RawData/KEGG_CELL_CYCLE.gmt
PruebaCellcycle.R
CellCycle2.pdf
.Rhistory
Cellcycle.pdf
CellCycleEnrichment_NHBECells.pdf
CellCycleEnrichment_A549Cells.pdf
IntermediateFiles/counts_norm_A549ACE2vsCOV2.rds
IntermediateFiles/dds_results_A549ACE2vsCOV2.rds
IntermediateFiles/counts_norm_CALU3vsCOV2.rds
IntermediateFiles/dds_results_CALU3vsCOV2.rds
*.rds
ComputeSignature.R
c2.cp.v7.0.symbols.gmt
RawData/1471-2164-10-137-S1.xls
*.sif
ResultsCARNIVAL/A549ACE2_ACE2inputAttributes.txt
ResultsCARNIVAL/A549ACE2_HostVirusinputAttributes.txt
ResultsCARNIVAL/A549ACE2_noinputAttributes.txt
ResultsCARNIVAL/CALU3_ACE2inputAttributes.txt
ResultsCARNIVAL/CALU3_HostVirusinputAttributes.txt
ResultsCARNIVAL/CALU3_noinputAttributes.txt
ResultsCARNIVAL/NHBE_noInput.cys
runCARNIVAL.html
Calu3_CellCyclePhase.pdf
RawData/human_periodic.tsv
MyL22.txt
RawData/human_periodic_tune.csv
RawData/human_periodic_cellphase.csv
normCountsCAlU3.txt
CibersortMatrixCellPhase.R
CIBERSORT.Output_CALU3.pdf
CIBERSORT.Output_NHBE.pdf
Covid19ProgenyPermutations.png
IntermediateFiles/ExpressionCALU3_CIBER.txt
IntermediateFiles/ExpressionNHBE_CIBER.txt
IntermediateFiles/Signaturematrix_Periodic.txt
FirmaRatonCellphase.R
IntermediateFiles/matexprJaviCIBER.txt
*.txt
ComparativeInfection/TFsNESLimmaTest.R
GSE1487929Dataset.R
