
RawData/GSE147507-GPL18573_series_matrix.txt
RawData/GSE147507_RawReadCounts_Human.tsv
IntermediateFiles/tf_activities_NHBEvsCOV2_stat.rds
IntermediateFiles/tf_activities_NHBEvsCOV2_counts.rds
IntermediateFiles/tf_activities_A549vsCOV2_stat.rds
IntermediateFiles/tf_activities_A549vsCOV2_counts.rds
IntermediateFiles/pathways_NHBEvsCOV2_zscore_inputCarnival.rds
IntermediateFiles/pathways_NHBEvsCOV2_zscore.rds
IntermediateFiles/pathways_NHBEvsCOV2_counts.rds
IntermediateFiles/pathways_A549vsCOV2_zscore_inputCarnival.rds
IntermediateFiles/pathways_A549vsCOV2_zscore_inputCarnival
IntermediateFiles/pathways_A549vsCOV2_zscore.rds
IntermediateFiles/pathways_A549vsCOV2_counts.rds
IntermediateFiles/dds_results_NHBEvsCOV2.rds
IntermediateFiles/dds_results_A549vsCOV2.rds
IntermediateFiles/counts_norm_NHBEvsCOV2.rds
IntermediateFiles/counts_norm_A549vsCOV2.rds
RawData/GO_CELL_CYCLE_ARREST.gmt
RawData/HALLMARK_G2M_CHECKPOINT.gmt
RawData/KEGG_CELL_CYCLE.gmt
PruebaCellcycle.R
CellCycle2.pdf
.Rhistory
Cellcycle.pdf
